.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1000px;

  grid-template-areas:
"h h"
"n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}

.header {
  grid-area: h;
  background-color: wheat;
}
.header img {
  width: 30px;
  margin: 5px;
}


.nav {
  grid-area: n;
  background-color: green;
  width: 100px;
}

.content {
  grid-area: c;
  background-color: aliceblue;
}

.content img {
  width: 900px;

}